@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');



@layer components{
body{
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden !important;

}
  .gradient{
      background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }
  .accordi{
    background: #e06f1f !important;
    margin-bottom: 6rem;
    font-family: 'Oswald', sans-serif !important;
  }
  .typo{
    font-family: 'Oswald', sans-serif !important;

  }

  .hcalc{
    height: calc(100vh - 5rem);
  }
  .bg_change {
    transition: background-color 0.5s ease; 
  }
  .onscrollbg{
    z-index: 100;
    background: #141414 !important;
    transition: all 500ms ease-in-out;
  }
  
 
  
}